.editor-container {
  border-radius: 8px;
  background: transparent;
  color: inherit;
  position: relative;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  height: 100%;
}

.editor-inner {
  background: transparent;
  position: relative;
  height: 100%;
}

.editor-input {
  height: 100%;
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: inherit;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  overflow-y: auto;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 24px;
  color: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 15px;
  color: inherit;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: inherit;
  border-left-color: #cecece;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre {
  line-height: 1.5;
}

.editor-code {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  overflow-x: auto;
  position: relative;
}

.dark .editor-code {
  background-color: rgba(255, 255, 255, 0.05);
}

.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 0;
  border-right: 1px solid transparent;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.dark .editor-text-code {
  background-color: rgba(255, 255, 255, 0.05);
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.editor-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
